* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

section.landing {
  height: 100vh;

  position: relative;
}

section.landing h1 {
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.menu {
  background-color: #000;
  background-image: url('./images/background-by-matt-bango-stocksnap-A1MWQJDC12.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-link {
  position: absolute;
}

.menu-link#ladybug {
  left: 33%;
  top: 34%;
  transform: rotate(35deg);
}

.menu-link#butterfly {
  left: 74%;
  top: 57%;
  transform: rotate(146deg);
}

.menu-link#fly {
  left: 66%;
  top: 43%;
  transform: rotate(-26deg);
}

.menu-link:hover {
}